body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: seashell;
}

button {
    border-radius: 25%;
    color: rgb(250, 248, 248);
    background-color: black;
    padding: 25px;
    font-size: larger;
    margin-bottom: 470px;
}

button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}


img {
    position: absolute;
    top: calc(45% + 100px); 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 70px; 
    margin-bottom: 270px;
    z-index: -1;
}

h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 2em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}